table {
	border: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse; 
	font-family: 'Verdana', 'Arial', sans-serif;

	tr {

		td {
			vertical-align: top;
		}
	}
}

a {
	text-decoration: none;
	outline: none;
}

img {
	border: none;
}

.main-wrap * {
	margin: 0;
	padding: 0;
}

.logo-wrap {
	padding-top: 25px;
	
	img.logo {
		width: 100%;
		display: block;
	}
}


.header-text {
	color: #ffffff;
	padding-top: 15px;
	padding-left: 7px;
	
	> span:first-child {
		font-size: 18px;
		padding-left: 29px;
		line-height: 57px;
	}

	> span:last-child {
		font-size: 18px;
		padding-left: 97px;
		
	}
}


.header-auth-soc {
	padding-top: 25px;

	.auth-link {
		display: block;
		width: 100%;
		text-decoration: none;
		text-align: center;
		color: #ffffff;

		> span {
			display: block;
			width: 100%;
			padding: 11px 0;
			font-size: 16px;
			background-color: #5ca717;
			border-bottom: 3px solid #438705;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

.soc-btns-wrap {
	display: block;

	td {
		padding-top: 10px;
	}
}


	// CONTENT-WRAP
	tr#content-wrap-tr {

		td.content-wrap-td {
			border-radius: 15px 15px 0 0;

			table.content-img-wrap {
				border-radius: 5px;
				margin: auto;

				td.content-img-wrap-td {
					padding-top: 25px;	
				}
			}

			.content-text-wrap {

				> tr {

					> td {
						padding-top: 10px;
						text-align: center;
					}
				}

				.content-header {
					display: block;
					font-size: 22px;
					color: #215690;
					text-align: center;
				}

				.content-text {
					display: block;
					font-size: 14px;
					text-align: justify;
					padding-top: 15px;
					line-height: 1.4;
				}

				.content-header-2 {
					display: block;
					font-weight: bold;
					text-align: center;
					padding-top: 10px;
					padding-bottom: 28px;
				}

				.content-list {

					td {
						line-height: 1.875;

					}

					.content-list-text {
						text-align: left;
					}
					
				}

			}

		}
	}


	// FOOTER
	#footer {

		> td {
			border-radius: 0 0 20px 20px;
		}

		.footer-goto-site {
			background-image: url(http://lalala123.hol.es/img/bg-img.png);
			background-color: #e4ecf0;
			background-repeat: repeat-x;

			.auth-link {
				display: block;
				width: 100%;
				text-decoration: none;
				text-align: center;
				color: #ffffff;

				> span {
					display: block;
					line-height: 35px;
					width: 100%;
					height: 35px;
					background-color: #ff9124;
					cursor: pointer;
					border-radius: 14px;
				}
			}
		}

		
		.footer-text-wrap {

			.footer-header-2 {
				display: block;
				font-weight: bold;
				text-align: center;
				padding: 30px 0;
			}

		}

		.footer-text-faq-wrap {

			.footer-text {
				display: block;
				line-height: 1.5;
				padding-bottom: 25px;
			}

			.footer-soc-btn {
				padding-top: 10px;
				vertical-align: middle;
			}
		}

		.footer-bottom-wrap {
			border-radius: 0 0 15px 15px;

			tr {

				td {
					padding-top: 15px;

					span {
						display: block;
						font-size: 12px;
						color: #ffffff;
						text-align: center;
					}
				}
			}
			
		}
	}

	
	// UNDER FOOTER
	#under-footer {

		.under-footer {

			td {
				font-size: 11px;
				color: #9d9d9d;
				text-align: center;
				padding-top: 10px;

				a {
					color: #9d9d9d;
					text-decoration: underline;
				}
			}

			.under-footer-subs {

				tr {

					td {
						padding-top: 0;
					}
				}
			}
		}
	}





