table {
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: 'Verdana', 'Arial', sans-serif;
}
table tr td {
  vertical-align: top;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  border: none;
}
.main-wrap * {
  margin: 0;
  padding: 0;
}
.logo-wrap {
  padding-top: 25px;
}
.logo-wrap img.logo {
  width: 100%;
  display: block;
}
.header-text {
  color: #ff9124;
  padding-top: 15px;
}
.header-text > span:first-child {
  font-size: 16px;
  padding-left: 29px;
  line-height: 57px;
}
.header-text > span:last-child {
  font-size: 16px;
  padding-left: 60px;
  color: #ffffff;
}
.header-auth-soc {
  padding-top: 25px;
}
.header-auth-soc .auth-link {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.header-auth-soc .auth-link > span {
  display: block;
  width: 100%;
  padding: 11px 0;
  font-size: 16px;
  background-color: #5ca717;
  border-bottom: 3px solid #438705;
  border-radius: 5px;
  cursor: pointer;
}
.soc-btns-wrap {
  display: block;
}
.soc-btns-wrap td {
  padding-top: 10px;
}
.header-bottom {
  background-image: url(http://lalala123.hol.es/img-2/bg-img.png);
  background-color: #ffffff;
  background-repeat: repeat-x;
}
.header-bottom .auth-link {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.header-bottom .auth-link > span {
  display: block;
  line-height: 35px;
  width: 100%;
  height: 35px;
  background-color: #ff9124;
  cursor: pointer;
  border-radius: 10px;
}
tr#content-wrap-tr td.content-wrap-td {
  border-radius: 15px 15px 0 0;
}
tr#content-wrap-tr td.content-wrap-td table.content-img-wrap {
  border-radius: 5px;
  margin: auto;
}
tr#content-wrap-tr td.content-wrap-td table.content-img-wrap td.content-img-wrap-td {
  padding-top: 25px;
}
tr#content-wrap-tr td.content-wrap-td .content-text-wrap > tr > td {
  padding-top: 10px;
  text-align: center;
}
tr#content-wrap-tr td.content-wrap-td .content-text-wrap .content-header {
  display: block;
  font-size: 22px;
  color: #215690;
  text-align: center;
}
tr#content-wrap-tr td.content-wrap-td .content-text-wrap .content-text {
  display: block;
  font-size: 14px;
  text-align: justify;
  padding-top: 15px;
  line-height: 1.4;
}
tr#content-wrap-tr td.content-wrap-td .content-text-wrap .content-header-2 {
  display: block;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 28px;
}
tr#content-wrap-tr td.content-wrap-td .content-text-wrap .content-list td {
  line-height: 1.875;
}
tr#content-wrap-tr td.content-wrap-td .content-text-wrap .content-list .content-list-text {
  text-align: left;
}
#footer > td {
  border-radius: 0 0 20px 20px;
}
#footer .footer-goto-site {
  background-image: url(http://lalala123.hol.es/img-2/bg-img-2.png);
  background-color: #e4ecf0;
  background-repeat: repeat-x;
}
#footer .footer-goto-site .auth-link {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
#footer .footer-goto-site .auth-link > span {
  display: block;
  line-height: 40px;
  width: 100%;
  height: 40px;
  background-color: #69be1a;
  cursor: pointer;
  border-radius: 8px;
}
#footer .footer-text-wrap .footer-header-2 {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}
#footer .footer-text-faq-wrap {
  color: #ffffff;
  border-radius: 0 0 8px 8px;
}
#footer .footer-text-faq-wrap .footer-text {
  display: block;
  line-height: 1.5;
  padding: 5px 0 15px;
}
#footer .footer-text-faq-wrap .footer-soc-btn {
  padding-bottom: 15px;
  vertical-align: bottom;
}
#footer .footer-bottom-wrap {
  border-radius: 0 0 15px 15px;
}
#footer .footer-bottom-wrap tr td {
  padding-top: 15px;
}
#footer .footer-bottom-wrap tr td span {
  display: block;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
#under-footer .under-footer td {
  font-size: 11px;
  color: #9d9d9d;
  text-align: center;
  padding-top: 10px;
}
#under-footer .under-footer td a {
  color: #9d9d9d;
  text-decoration: underline;
}
#under-footer .under-footer .under-footer-subs tr td {
  padding-top: 0;
}
